header {
    background-image: url(../../assets/images/pattern-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.tracker {
    max-width: 120rem;
    margin: 0 auto;
    text-align: center;

    &__title {
        color: #fff;
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    &__input-container {
        position: relative;
        max-width: 40rem;
        margin: 0 auto 2rem auto;
        
        & > input {
            width: 100%;
            padding: 1.5rem 2rem;
            border: none;
            border-radius: 10px;
            font-size: 1.5rem;
            color: hsl(0, 0%, 17%);

            &::placeholder {
                color: hsl(0, 0%, 59%);
                font-size: 1.5rem;
                // vertical-align: ;
            }

            &:focus {
                outline: none;
            }
        }
    }

    &__container {
        position: relative;
        background-color: #fff;
        padding: 2rem;
        border: none;
        border-radius: 10px;
        display: flex;
        grid-gap: 2rem;
        // justify-content: space-between;
        // flex-wrap: wrap;
        // grid-template-columns: repeat(auto-fit, minmax(16rem, 20rem));
        text-align: initial;
        z-index: 1000;
        transform: translateY(50%);
    }

    
    &__button {
        position: absolute;
        right: 0;
        width: 5rem;
        height: 100%;
        background-color:hsl(0, 0%, 17%);
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.content {
   display: flex;
   flex-direction: column;
   grid-gap: 1rem;
   
   
   &:not(:last-child) {
       padding-right: 1.5rem;
        //   margin-right: 1.5rem;
       border-right: 1px solid hsl(0, 0%, 59%);
   }

    &__name {
        color: hsl(0, 0%, 59%);
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__value {
        color: hsl(0, 0%, 17%);
        font-size: 2.3rem;
        font-weight: 500;
    }
}